.AmortizationChart {
  &-wrapper {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  &-totals {
    padding-right: 4rem;
  }

  &-label {
    color: $alternateText;
    font-size: 1.2rem;
    font-weight: lighter;
  }
}

