.Radio {
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  input + .Radio-state {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  input:checked + .Radio-state {
    border: 2px solid $primary;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }

  label {
    padding-left: 2rem;
    font-weight: 300;
  }
}
