.Button {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 2px;

  &-primary {
    background-color: $primary;
    color: $alternateText;
    border: none;

    &:focus,
    &:hover {
      outline: none;
      background-color: $primaryDark;
      color: $alternateText;
    }
  }

  &-secondary {
    background-color: $text;
    color: $alternateText;
    border: none;

    &:focus,
    &:hover {
      outline: none;
      background-color: $secondary;
    }
  }

  &-large {
    padding: 0.5rem 4rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
