.ChartTooltip {
  background: #fff;
  padding: 1rem 2rem;
  color: $text;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin: 0.5rem 0;
  }

  &-heading {
    font-weight: bold;
  }
}
