.Tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.Tab {
  background-color: $secondary;
  font-weight: 500;
  font-size: 1.6rem;
  color: $alternateText;
  text-align: center;
  cursor: pointer;
  transition: background-color 170ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  padding: 2rem;
  margin-bottom: 1px;
  margin-right: 1px;
  border-radius: 2px;
  text-transform: lowercase;


  &-active,
  &:hover {
    background-color: $primaryDark;
  }

  &-sub-label {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
