.StepSummary {
  height: 100%;
  display: flex;
  align-items: center;

  &-container {
    padding: 8rem 2rem;
    max-width: $maxWidth;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .inverted & {
    color: $alternateText;
  }

  &-title {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
  }

  &-link {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $text;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    cursor: pointer;

    .inverted & {
      color: $alternateText;
    }

    &:before {
      content: '<';
      padding-right: 2px;
      position: relative;
      top: 1px;
    }

    &:hover {
      color: $primaryDark;
    }
  }
}
