#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  &-preheader {
    background-color: $secondary;
    min-height: 20px;
    flex: 0.2 0 auto;
  }

  &-header {
    background-color: $canvas;
    flex: 2 0 auto;
    display: flex;
    align-items: flex-end;
  }

  &-body {
    flex: 3 0 auto;
  }

  &-section {
    max-width: $maxWidth;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 2rem 2rem;

    @media (width > $mobile) {
      padding: 4rem 4rem;
    }

    &-breakout {
      background-color: $secondary;

      .App-subsection {
        &:first-child:after {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  &-subsection {
    width: 100%;

    @media (width <= $mobile ) {
      padding: 0 0 4lh;
    }

    @media (width > $mobile) {
      width: 50%;
      padding: 0 4lh;

      &:first-child {
        position: relative;
        padding-left: 0;

        &:after {
          content: '';
          height: 80%;
          width: 1px;
          background-color: $border;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
  }

  &-footer {
    background-color: $secondary;
    min-height: 60px;
    flex: 0.2 0 auto;
  }
}
