.Form {
  &-wrapper {
    @media (width > $mobile) {
      min-width: 90%;
      padding-right: 5rem;
    }
  }

  &-row {
    margin-bottom: 2lh;
    text-align: center;
  }

  &-submit {
    margin-top: 1rem;

    @media (width > $mobile) {
      margin-top: 0;
      position: absolute;
      right: 8rem;
      bottom: 2rem;
    }
  }
}

.form-heading {
  margin-bottom: 2rem;
  text-transform: lowercase;
}
