@import "extends/typography.css";

html {
  height: 100%;
  font-size: 62.5%;

  @media (width < $mobile) {
    font-size: 52.5%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham SSm A", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%;
}



h1, .h1 { @extend H1 }
h2, .h2 { @extend H2 }
h3, .h3 { @extend H3 }
h4, .h4 { @extend H4 }
h5, .h5 { @extend H5 }
h6, .h6 { @extend H6 }

p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin-top: 0;
}

.u-text-invert {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p,
  li {
    color: $alternateText;
  }
}



ul {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}
