@import "./mixins/utilities.css";


 .l {
  &-split-pane {
    display: flex;
    height: 100vh;
  }

  &-container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 4rem 8rem;
  }

  &-pane {
    overflow-y: auto;

    &:first-child {
      width: 42.5%;
      border-right: 1px solid #e2e2e2;
      box-shadow: -7px 0px 15px 2px rgba(0,0,0,0.2);
      z-index: 2;
    }

    &:last-child {
      padding: 4rem;
      width: 57.5%;
      background-color: rgba(0, 0, 0, 0.8);
      position: relative;
    }
  }

  &-preheader {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(8, 148, 214, 0.12);
  }
}

.l-stepper-wrapper {
  padding: 0 2rem;
}

/**
 *
 * Hacky shit
 *
 */

.u-col-spacer {
  padding-right: 7rem;
}

.u-spacer-border {
  padding-right: 4rem;
  border-right: 1px solid rgba(199, 199, 199, 0.27);
  margin-right: 3rem
}

.u-amortization-form {
  display: flex;
}

.u-row-padding {
  padding: 4rem 2rem;
}

.u-text-center {
  text-align: center;
}

.u-no-padding {
  padding: 0;
}

.u-repayment-frequency {
  color: $primary;

  h4 {
    margin: 0;
  }

  h1 {
    margin: 0 0 1rem;
  }
}
