.Control {

  &-select-wrapper {
    position: relative;
    display: inline-block;

    select {
      background-color: transparent;
      border-radius: 0;
      padding-left: 0;

      .inverted & {
        color: $primary;
      }
    }
  }

  &-select-arrow {
    position: absolute;
    right: 0.2rem;
    top: 0.8rem;
    height: 15px;
    width: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid $secondary;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &-select {
    font-weight: lighter;
    padding-right: 40px;
    width: 100%;
  }
}

.inverted {
  .Control-select-arrow {
    border-top: 10px solid $alternateText;
  }
}
