@define-extend H1 {
  font-size: 4.4rem;
  font-weight: bold;
  letter-spacing: -2px;
}

@define-extend H2 {
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: -1px;
}

@define-extend H3 {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

@define-extend H4 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.6px;
}

@define-extend H5 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.4px;
}

@define-extend H6 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.4px;
}
