@import "../../styles/extends/typography.css";

.BreakdownTable-bold {
  @extend H6;
}

.BreakdownTable-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.2rem;
}

.BreakdownTable-label {
  line-height: 1.4;
  flex: 1 0 75%;
}

.BreakdownTable-amount {
  line-height: 1.4;
  flex: 1 0 20%;
  text-align: right;
  position: relative;
}

.BreakdownTable-costs {
  padding-left: 0;
}

.BreakdownTable-deposit {
  border-bottom: 1px solid $border;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.BreakdownTable-refund {
  border-top: 1px solid $border;
  padding-top: 0.8rem;
  margin-top: 0.5rem;
}

.BreakdownTable-costs {
  .BreakdownTable-amount:before {
    content: '+';
  }
}

.BreakdownTable-refund {
  .BreakdownTable-amount:before {
    content: '-';
    font-size: 2.8rem;
    line-height: 0.7;
    font-family: monospace;
  }
}

.BreakdownTable-amount:before {
  padding-right: 1rem;
  position: absolute;
  left: 5px;
  top: 0;
  line-height: 1;
  font-size: 1.8rem;
}
