.IncomeExpensesChart {
  margin-bottom: 3rem;
  padding: 1rem 0;

  &-wrapper {
    display: flex;
  }

  &-label {
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.47);
    flex: 1 0 auto;
  }
}
