@import "../../styles/extends/typography.css";

.ControlWrapper {
  padding-bottom: 1rem;

  @media (width > $mobile) {
    padding-bottom: 0.2rem;
  }

  .errors {
    color: $alternateText;
    font-size: 1.2rem;
    background: $accent;
    position: absolute;
    bottom: -2rem;
    padding: 0.2rem 1rem;
    width: 100%;
    z-index: 10;
    border-radius: 0 0 2px 2px;

    .error {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

.Control {
  &-label {
    @extend H5;
    display: inline;
    margin-right: 1rem;
  }

  &-input {
    @extend H5;
    color: $primary;
    padding: 0 3rem 0 0.5rem;
    border: none;
    border-bottom: 1px solid $border;
    background-color: transparent;
    appearance: none;

    .inverted & {
      border-bottom: 1px solid $alternateText;
    }

    .Control-field-currency & {
      padding-left: 2rem;
    }

    &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid $primaryDark;
    }
  }

  &-field {
    display: inline-table;

    &-currency {
      position: relative;

      &:before {
        content: '$';
        color: $primary;
        position: absolute;
        @extend H5;
      }
    }
  }

  &-error {
    border: none;
    border-bottom: 1px solid $accent;
    text-transform: lowercase;

    .inverted & {
      border-bottom: 1px solid $accent;
    }
  }
}


/**
 *
 * Stacked Control and Label Styles
 *
 */

.ControlWrapper-stacked {
  padding-bottom: 1rem;
  padding-right: 4rem;

  .Control {
    &-label {
      @extend H6;
      font-weight: 300;
      display: block;
      padding-bottom: 0.5rem;
      margin-right: 0;
    }

    &-input {
      padding-bottom: 0.2rem;
      color: $text;
    }

    &-field {
      position: relative;
      padding-bottom: 1.8rem;

      &-currency:before {
        color: $text;
      }
    }
  }

  .errors {
    bottom: 0;
    color: $accent;
    background: none;
    position: absolute;
    padding: 0;
    width: 100%;
    z-index: 10;
  }
}

/**
 *
 * Stacked Control and Label Styles
 *
 */

.ControlWrapper-horizontal {
  padding-bottom: 2rem;
  padding-right: 4rem;

  .Control {
    &-label {
      @extend H5;
      padding-bottom: 1rem;
      margin-right: 0;
    }
  }
}
