.Header {
  display: flex;
  flex-direction: column;
  background-color: rgba(8, 148, 214, 0.14);
  margin-bottom: 2rem;

  &-subtitle {
    max-width: 350px;
  }

  &-container {
    max-width: $maxWidth;
    margin: 0 auto;
    width: 100%;
    padding: 8rem 2rem;
  }
}
