.AmortizationTable {
  margin: 2rem auto;
  color: $text;
  border-collapse: collapse;
  border: 1px solid #afafaf;

  thead th {
    background: #eee;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    font-weight: bold;
  }

  td {
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
  }
}
