@import "../../styles/extends/typography.css";

.InterestRate {
  display: flex;
  align-items: center;

  &-rate {
    font-size: 100%;
    font-weight: 100;
    letter-spacing: -4px;
    line-height: 1;
  }

  &-prefix {
    font-size: 50%;
  }

  &-suffix {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;

    &-percentage {
      font-size: 50%;
    }

    &-frequency {
      position: relative;
      top: -3px;
      font-size: 30%;
    }
  }
}
