
@import "../../styles/extends/typography.css";

.Checkbox {
  position: relative;

  &-control {
    margin-left: 0;
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  label {
    @extend H6;
    position: relative;
    padding-left: 2.5rem;

    &:after {
      content: '';
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 0;
      top: -3px;
      border-radius: 2px;
      background: #dcdcdc;
      border: 1px solid #b3b3b3;
    }
  }

  input:checked + label:after {
    background: $primary url('../../assets/icons/tick.svg') no-repeat;
    background-size: 1.6rem;
    background-position: center;
    border: 1px solid $primaryDark;
  }

  &.Checkbox-large {
    label {
      @extend H5;
      padding-left: 3rem;

      &:after {
        top: 1px;
      }
    }
  }
}
