.Section {
  display: flex;
  height: 100%;

  &-container {
    flex: 1 0 100%;
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (width > $mobile) {
      flex-direction: row;
    }
  }

  &-intro {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 3rem;
    margin-bottom: 2rem;
    margin-right: 2px;
    border-bottom: 1px solid $alternateText;

    @media (width > $mobile) {
      padding: 4rem 2rem;
      margin-bottom: 0;
      flex: 0 1 25%;
      border-bottom: none;
    }

    .fixed-height & {
      justify-content: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  &-wrapper {
    display: flex;
    margin-right: 1px;
    flex: 0 1 100%;
    padding: 0 2rem 2rem;
    align-items: flex-start;

    @media (width > $mobile) {
      padding: 4rem 4rem 2rem;
      align-items: center;
      position: relative;
    }
  }

  &.inverted {
    color: $alternateText;
  }
}
