@import "../../styles/extends/typography.css";

.ProductDetails {
  padding-top: 2rem;

  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  &-link {
    @extend H6;
    text-decoration: none;
    color: $primary;
  }
}
