.MultipleChoice {
  display: flex;
  height: 100%;

  &-bg-extend-pre {
    flex: 1 0 0;
  }

  &-bg-extend-post {
    flex: 1 0 0;
  }

  &-container {
    flex: 1 0 100%;
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;

    @media (width > $mobile) {
      flex-direction: row;
    }
  }

  &-options {
    display: flex;
    margin-right: 1px;
    flex: 0 1 100%;
  }

  &-option {
    text-align: center;
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
    margin-right: 2px;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
    }

    &.is-inactive {
      opacity: 0.3;
    }
  }

  &-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem 4rem 2rem;
    margin-right: 2px;

    @media (width > $mobile) {
      flex: 0 1 25%;
    }
  }

  p {
    margin-bottom: 0;
  }
}
