@import "../../styles/extends/typography.css";

.Slider {
  padding-bottom: 2rem;
  padding-top: 2rem;

  &-wrapper {
    display: flex;
  }

  &-input {
    flex: 1 0 auto;
    padding-right: 2rem;
    padding-top: 0.2rem;
  }

  &-term {
    @extend H6;
    padding-left: 0.2rem;
    color: $primary;
  }
}
